/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

body {
	@apply font-mono text-gray-700;
}

::selection {
	@apply text-white bg-indigo-800;
}

.markdown-body ul li > p,
ol li > p {
	display: inline-block;
	margin: 0;
}

ul,
ol {
	padding-left: 2em;
}

ul ol li {
	list-style-position: outside;
}

ul > li {
	position: relative;
	&::before {
		content: '*';
		position: absolute;
		top: 0;
		left: -2em;
	}
}
